<link rel="stylesheet" href="./components/css/nav-panel.css" />

<div id='nav-panel'>
    <div id='logo-area' style='text-align:center;'>
        <img src='./images/logo.png' style='height:120px;padding-top:14px;'>

    </div>
    <div id='nav-buttons-area'>
        <button class='font-1 nav-button nav-button-selected nav-home' id='nav-home'>Home</button>
        <button class='font-1 nav-button nav-tasks' id='nav-tasks'>Tasks</button>
        <button class='font-1 nav-button nav-settings' id='nav-settings'>Settings</button>
    </div>
</div>

<div id='nav-panel-hamburger-modal-container'>

    <div id='nav-panel-hamburger-modal'>
        <div id='logo-area' style='text-align:center;'>
            <img src='./images/logo.png' style='height:120px;padding-top:14px;'>
        </div>
        <button class='font-1 nav-panel-hamburger-modal-button nav-button-selected nav-home'
            id='nav-home-hamburger'>Home</button>
        <button class='font-1 nav-panel-hamburger-modal-button nav-tasks' id='nav-home-hamburger'>Tasks</button>
        <button class='font-1 nav-panel-hamburger-modal-button nav-settings' id='nav-home-settings'>Settings</button>
    </div>
</div>

<script src='./components/js/nav-panel.js'></script>