<link rel="stylesheet" href="./components/css/settings.css" />

<div id='settings'>
    <div class='space50'></div>
    <div id='settings-area' class='font-1'>

        <div class='settings-line'>
            <div class='settings-line-words'>
                <p id='settings-priority-desktop'>Put highest priority tasks at the top</p>
                <p id='settings-priority-mobile'>High priority top</p>
            </div>
            <div class='settings-line-switch '>
                <div class='switch-container'>
                    <label class="switch">
                        <input id="toggle-high-priority-sorting" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>

        <!-- <div class='settings-line'>
            <div class='settings-line-words'>
                <p>Turn on multiple task lists</p>
            </div>
            <div class='settings-line-switch '>
                <div class='switch-container'>
                    <label class="switch">
                        <input id="toggle-multiple-task-lists" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class='settings-line'>
            <div class='settings-line-words'>
                <p>Turn on due dates</p>
            </div>
            <div class='settings-line-switch '>
                <div class='switch-container'>
                    <label class="switch">
                        <input id="toggle-due-dates" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div> -->

        <div class='settings-line'>
        </div>

        <div class='settings-line'>
            <div class='settings-line-feedback'>
                <p id='feedback-message'></p>
            </div>

            <div class='settings-line-button'>
                <button class='settings-button' id='reset-data'>Reset Data</button>
            </div>
        </div>

    </div>
</div>