<link rel="stylesheet" href="./components/css/task-lists.css" />

<div id='lists'>

    <div class='space50'></div>

    <div id='task-lists-append-load'></div>

    <div class='list-area'>
        <div class='list-section'>
            <div class='list' id='new-list'>
                <div id='new-list-header' class='list-header font-1'>
                    <input id='new-list-editor' placeholder='New Task List' class='list-name-editor font-1'>
                </div>
                <div id='new-list-body' class='list-body'>
                    <div id='background-new-list-body'></div>
                    <div id='plus-image-container'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                            <g id="Group_10" data-name="Group 10" transform="translate(-367.027 -216.337)">
                                <path class='plus-path' id="Path_11" data-name="Path 11" d="M393.206,261.337v-60"
                                    transform="translate(4 15)" fill="none" stroke-width="2" />
                                <path class='plus-path' id="Path_12" data-name="Path 12" d="M356.027,246.337h60"
                                    transform="translate(11 -1)" fill="none" stroke-width="2" />
                            </g>
                        </svg>
                    </div>
                    <div id='create-list-words' class='font-1'>Create New List</div>
                </div>
            </div>
        </div>
    </div>




</div>