#home {
    width:90%;
    margin: 0 auto;
}
#task-data-area{
    width: 100%;
    height:400px;
}

#tasks-data-area {
    padding:20px;
    position: relative;
    margin: 0 auto;
    width:calc(100% - 40px);
    height:300px;
    border: 1px solid rgba(226, 226, 226, 0.5);
    margin-bottom: 15px;
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
}

#tasks-data{
    width:300px;
    float:left;
}

.tasks-chart {
    width: calc(100% - 22px);
    height:60px;
    margin-left:20px;
    border-radius: 14px;
    overflow:hidden;
    border: 1px solid rgba(226, 226, 226, 0.5);
}

#tasks-charts {
    width: calc(100% - 301px);
    height:300px;
    float:left;
    border-left: 1px solid rgba(226, 226, 226, 0.5);
    
}

.tasks-data-line {
    overflow:hidden; 
    width: 100%;
    height: 30px;
}

.tasks-data-completed{
    float:left;
    width: 250px;
}
.tasks-data-completed-num{
    float:left;
}

.rounded-border-left{
    border-radius: 14px 0px 0px 14px;
}
.rounded-border-right{
    border-radius: 0px 14px 14px 0px;
}

#chart-1-tasks-completed{
    /* background-color:#5464f5; */
    background: rgb(84,100,245);
    background: linear-gradient(131deg, rgba(84,100,245,1) 3%, rgba(127,138,235,1) 100%);
}
#chart-1-tasks-completed:hover{
    background-color:rgb(44, 58, 192)
}
#chart-1-tasks-not-completed{
    /* background-color:#d84d3b; */
    background: rgb(216,77,59);
    background: linear-gradient(131deg, rgba(216,77,59,1) 3%, rgba(249,129,113,1) 100%);
}
#chart-1-tasks-not-completed:hover{
    background-color:rgb(167, 50, 34);
}
#chart-2-tasks-high {
    background: linear-gradient(131deg, rgba(213,99,99,1) 3%, rgba(253,52,52,0.5214460784313726) 100%)
}
#chart-2-tasks-medium{
    background: linear-gradient(131deg, rgba(212,213,99,1) 3%, rgba(245,253,52,0.5186449579831933) 100%);
}
#chart-2-tasks-low{
    background: linear-gradient(131deg, rgba(117,213,99,1) 3%, rgba(122,253,52,0.5186449579831933) 100%);
}


.bar-chart{
    height:60px;
    width: 0%;
    float:left;
    cursor:pointer;
    text-align:center;
    line-height:60px;
    color:white;
}