#task-list{
    width:100%;
}

#new-task {
    position: relative;
    margin: 0 auto;
    width:96%;
    height:65px;
    border: 1px solid rgba(226, 226, 226, 0.5);
    margin-bottom: 15px;
    border-radius: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
}
/* #new-task-form {
    height:67px;
    width:100%;
} */
#new-task-input-area{
    width:56%;
    float:left;
}
#new-task-input {
    border:none;
    height: 24px;
    font-size:24px;
    outline:none;
    padding-top: 20px;
    padding-left:20px;
    width: 90%;
}
#new-priority{
    width:calc(20% - 1px);
    height:100%;
    float:left;
    border-right: 1px solid rgba(226, 226, 226, 0.5);
    border-radius: 14px 0px 0px 14px;
}
#new-task-button-area{
    width:24%;
    float:left;
}
#new-task-button {
    width:85%;
    padding: 0px;
    background-color: #61F582;
    height:50px;
    margin: 0 auto;
    float:right;
    margin-right:10px;
    margin-top:7px;
    border-radius:14px;
    font-size:18px;
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    display:none;
}
#change-priority-button{
    width:100%;
    height:65px;
    border-radius: 14px 0px 0px 14px;
}
#change-priority-dropdown {
    position: absolute;
    top:67px;
    width:20%;
    border-radius: 14px;
    border: 1px solid rgb(68, 68, 68);
    line-height:0px;
    display:none;
    z-index: 2;
}
.change-priority-selection{
    width:100%;
    height:65px;
    padding:0px;

}
.task{
    margin: 0 auto;
    width:96%;
    height:65px;
    border: 1px solid #E2E2E2;
    margin-bottom: 15px;
    border-radius: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
    position: relative;
}

.priority{
    width:20%;
    height:100%;
    float:left;
    border-radius: 14px 0px 0px 14px;
}



.high-priority{
    background: rgb(213,99,99);
    background: linear-gradient(131deg, rgba(213,99,99,1) 3%, rgba(253,52,52,0.5214460784313726) 100%);
}
#change-to-high-button{
    background: rgb(213,99,99);
    background: linear-gradient(131deg, rgba(213,99,99,1) 3%, rgb(255, 143, 143) 100%);
}
.medium-priority{
    background: rgb(212,213,99);
    background: linear-gradient(131deg, rgba(212,213,99,1) 3%, rgba(245,253,52,0.5186449579831933) 100%);
}
#change-to-medium-button{
    background: rgb(212,213,99);
    background: linear-gradient(131deg, rgba(212,213,99,1) 3%, rgb(251, 255, 137) 100%); 
}
.low-priority{
    background: rgb(117,213,99);
    background: linear-gradient(131deg, rgba(117,213,99,1) 3%, rgba(122,253,52,0.5186449579831933) 100%);
}
#change-to-low-button{
    background: rgb(117,213,99);
    background: linear-gradient(131deg, rgba(117,213,99,1) 3%, rgb(167, 255, 120) 100%); 
}

.task-text {
    width:56%;
    float:left;
    line-height: 65px;
}
.task-text h2 {
    padding-left:20px;
    font-size:22px;
    white-space: nowrap; 
    overflow: hidden;
    padding-right:30px;
    text-overflow: ellipsis;
}
.check-button-area{
    width:24%;
    float:left;
}
.check-button{
    width:85%;
    padding: 0px;
    background-color: #61F582;
    height:50px;
    margin: 0 auto;
    float:right;
    margin-right:10px;
    margin-top:7px;
    border-radius:14px;
}
.task-complete-flag{
    top:0px;
    width:100%;
    height:65px;
    background-color: #61F582;
    position: absolute;
    border-radius: 14px;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display:none;
}
.task-check-image{
    height:36px;
    padding-top:4px;
}

/* animations */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (min-width: 600px) {
    #new-task-button {
        font-size:24px;
    }
    .task {
        width:90%;
    }
    #new-task{
        width:90%;
    }
    .task-check-image{
        height:46px;
        padding-top:2px;
    }
    .task-text h2 {
        font-size:24px;
    }
    #new-task-input-area{
        width:60%;
    }
    #new-task-button-area{
        width:20%;
    }
    .task-text {
        width:60%;
    }
    .check-button-area{
        width:20%;
    }
}

@media only screen and (min-width: 900px) {
    #new-task-button {
        font-size:30px;
    }
}